# do not create a queue: section for your test environment
test:
  adapter: postgresql
  encoding: utf8
  database: canvas_test
  host: localhost
  username: canvas
  timeout: 5000

development:
   host: localhost
   adapter: postgresql
   encoding: utf8
   database: canvas_development
   username: postgres
   password: 123
   timeout: 5000

production:
  adapter: postgresql
  encoding: utf8
  database: canvas_production_2018
  host: localhost
  username: canvas
  password: your_password
  timeout: 5000
